image:  domaindrivenarchitecture/dda-devops-build:latest

stages:
  - build
  - test
  - publish

services:
  - docker:19.03.12-dind

build:
  stage: build
  script:
    - cd infrastrucure/docker && pyb image test publish
