image: docker:19.03.12

stages:
  - build
  - test
  - publish

services:
  - docker:19.03.12-dind

before_script:
  - set -eux; apk add --no-cache build-base python3 py3-pip py3-setuptools;
  - pip3 install pybuilder ddadevops deprecation python-terraform boto3 mfa
  - export PATH=$PATH:~/.local/bin

build:
  stage: build
  script:
    - cd infrastrucure/docker && pyb image

test:
  stage: test
  script:
    - cd infrastrucure/docker && pyb image
